{% extends 'base_driver.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% block detail %} Add
Garbage {% endblock %} 
{% block content %}
<form method="post" novalidate>
  <div class="form-row pt-3">
    {% csrf_token %}
    {{ form|crispy}}
  </div>
  <div class="form-row pt-3">
   <div class="col mr-5">
      <a class="btn btn-danger btn-lg btn-block" href="../../" role="button">Cancel</a>
    </div>
  <div class="col">
    <button type="submit" class="btn btn-primary btn-block btn-lg">
      Save Station
    </button>
  </div>
  </div>
</form>
{% endblock %}
