{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <title>{% block title %}IClean{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light navbar-top d-flex justify-content-end">
        <a class="logo mr-auto" href="{% url 'home' %}">
          {% if user.is_authenticated %} {% if user.is_driver %}
          <span
            class="icon-feather"
            data-toggle="tooltip"
            data-placement="right"
            title="Driver profile"
          ></span>
          {% else %}
          <span
            class="icon-graduation-cap"
            data-toggle="tooltip"
            data-placement="right"
            title="Resident profile"
          ></span>
          {% endif %} {% endif %}</a
        >
        <h3 class="mr-auto">Ramat Gan Sanitation</h3>
        <h5>Driver</h5>

        <a class="material-icons navbar-brand p-2 header_icon" href="#"
          >search</a
        >
        <a class="material-icons navbar-brand p-2 header_icon" href="#"
          >notifications_active</a
        >
        <a class="material-icons navbar-brand p-2 header_icon" href="#"
          >settings</a
        >
        <img src="{% static "images/driver.png" %}" width="80" alt="">
        <div class="text-right logged">
          {% if user.is_authenticated %}
          <p class="pt-3">
            Logged in as <strong>{{ user.username }}</strong>.
            <a href="{% url 'logout' %}">Log out</a>.
          </p>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-light" role="button"
            >Log in</a
          >
          <a href="{% url 'signup' %}" class="btn btn-primary" role="button"
            >Sign up</a
          >
          {% endif %}
        </div>
      </nav>
      <nav
        id="nav-reflection"
        class="navbar navbar-expand-lg navbar-light navbar-second navhover"
      >
        <span class="navbar-toggler navbar-text-current">Garbage List</span>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav collapse navbar-collapse nav-justified" id="navbarNav">
          <li class="nav-item nav-link">
            <a class="nav-link font-weight-bold text-nowrap h5" href="#"
              >City Map
              <span class="material-icons navbar-brand icon">explore</span>
            </a>
          </li>
          <li class="nav-item nav-link selected current text-nowrap">
            <a
              class="nav-link active font-weight-bold h5"
              href="{% url 'home' %}"
              >{% if user.is_authenticated %} {% if user.is_driver %}
              <span
                class="icon-feather"
                data-toggle="tooltip"
                data-placement="right"
                title="Driver profile"
              ></span>
              {% else %}
              <span
                class="icon-graduation-cap"
                data-toggle="tooltip"
                data-placement="right"
                title="Resident profile"
              ></span>
              {% endif %} {% endif %}Dash Board
              <span class="material-icons navbar-brand icon">home</span>
              <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item nav-link text-nowrap">
            <a class="nav-link font-weight-bold h5" href="#"
              >Plan Route
              <span class="material-icons navbar-brand icon">add_location</span>
            </a>
          </li>
          <li class="nav-item nav-link text-nowrap h5">
            <a class="nav-link font-weight-bold" href="#"
              >Update
              <span class="material-icons navbar-brand icon">360</span>
            </a>
          </li>
          <li class="nav-item nav-link text-nowrap h5">
            <a class="nav-link font-weight-bold" href="#"
              >Reports
              <span class="material-icons navbar-brand icon">descriptions</span>
            </a>
          </li>
        </ul>
      </nav>

      <nav
        class="navbar navbar-expand-lg navbar-light py-0 d-none d-sm-block d-sm-none"
      >
        <ul class="nav collapse navbar-collapse nav-justified" id="navbarNav2">
          <li class="nav-item nav-link disabled">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item nav-link crumb disabled">
            <a class="nav-link active font-weight-bold" href="#">
              {% block detail %} {% endblock %}</a
            >
          </li>
          <li class="nav-item nav-link disabled">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item nav-link disabled">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item nav-link disabled">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="{% static 'scripts/scripts.js' %}"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
