* {
    margin: 0px;
    padding: 0px;
    /* border-color: black;
    border-width: 1px;
    border-style: solid; */
  }
  /* General CSS */
header, nav, main, section, article, aside, footer {
    display: block;
}
a {
    text-decoration: none;   
    color: #4242ff;
}
a:hover {
   color: #ff8040; 
}
.selected {
    font-weight: bold;
    text-decoration: underline;
    color: #0000ff;
    background-color: #b1a3a3;
}
  li {
    list-style-type: none;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0px auto; 
    max-width: 1000px;
}
html{
    width: 100%;
    height: 100%;
    display: table;
}
body {
    display: table-cell;
    margin: 0;
    padding: 0;
    background:  url(../images/gradients.jpg) repeat-x;
}
header {
    background: #555555;
    height: 100px;
}
.dot {
    height: 63px;
    width: 63px;
    background-color: #95cce1;
    border-radius: 50%;
    position: relative;
    margin: 0px auto;
    top:16px
}
footer {
    background: #555555;
    height: 65px;
    min-width: 100%;
}
ul {
    position: relative;
    width: fit-content;
    top: 45%;
    margin: 0px auto;  
}
li{
      font-size: 28px;
}
main, aside, nav{
   background: #88a4c979; 
}
article {
    background: white;
    border: 1px solid black;
}
main{
    position: relative;
}
/* index css */
#index{
    width: 1000px;
}
#index article, #layout1 article{
    position: absolute;
}
#index nav {
    float: right;
    width: 180px;
    border-left: 3px solid black;
}
#index main, #index nav{
  height: 835px;
}
#index main {
    float: left;
    width: 817px;
}
#index article:nth-child(-n + 2){
    height: 300px;
    width: 180px;
}
#index article:nth-child(1) {
    top: 90px;
    left: 20px;
}
#index article:nth-child(2) {
    bottom: 85px;
    left:279px;
}
#index article:nth-child(3) {
    height: 288px;
    width: 416px;
    top: 20px;
    right: 50px;
}
#index li {
padding-bottom:30px;
}
/* layout1 css */
#layout1 {
    width: 1000px;
}
#layout1, #layout1 div main, #lay1box {
    height: 100%;
}
#layout1 nav {
    background: url(../images/pattern.jpg) repeat; 
    height: 185px;
}
#lay1box {
    display:flex;
}
#lay1box aside {
    flex: 16.2%;
    min-height: 650px;
    border-right: 3px solid black;
}
#lay1box main {
    flex: 83.8%;
    min-width: 850px;
}
#layout1 li, #layout2 li{
    display: inline;
    padding-right: 40px;
}
#layout1 main {
    min-height: 650px;
}
#layout1 article:nth-child(-n+2 ){
    height: 88px;
    width: 124px;
    top: 65px;
}
#layout1 article:nth-child(1) {
    right: 84px;
}
#layout1 article:nth-child(2) {
    right: 230px;
}
#layout1 article:nth-child(3) {
    height: 286px;
    width: 410px;
    top: 235px;
    right: 84px;
}
#layout1 article:nth-child(4) {
    height: 110px;
    width: 260px;
    top: 411px;
    right: 514px;
}
.footerLay{
    position:fixed;
    bottom: 0;
}
#layout1 nav ul{
    margin-left: 160px;
}
/* layout2 css */
#layout2 nav {
    position: relative;
    background: url(../images/pattern_lay2.jpg) repeat; 
    height: 160px;
}
#boxContainer{
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -55px;
}
#boxContainer article{
    height: 312px;
    width: 204px;
    margin-top: 48px;
    margin-left: 113px;
}
#boxContainer :last-child{
margin-bottom: 113px;
}
button{
    position: absolute;
    font-size: 25px;
    margin-left: 15px;
    background-color: #b13fb1;
    color: aliceblue;
    border-color: #f7b0ff;
    bottom: 0;
}
#clear-btn{
    left: 100px;
}
/* Media Query */
@media only screen and (max-width:480px){
    #layout2 .dot {
        background-color: #030303;
    }
    #layout2 li{
        font-size: x-small;
    }
    .hamburger {
        background-image: url(../images/hamburger_icon.png) ;
        float: right;
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    #layout2 .dot {
        background-color: #800000;
    }
    #layout2 li{
        font-size: larger;
    }
}